html, body, #root {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 300;
  padding:0;
  margin:0;
}

pre {
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #DDD;
  color: #333;
}

#root {
  display: flex;
}

.bold {
  font-weight: bold;
}

.flex {
  flex: 1;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

$spacers: ("xs": 5px, "s": 10px, "m": 20px, "l": 40px, "xl": 80px);
@each $key, $val in $spacers {
  .spacer-vertical-#{$key} { height: $val; }
  .spacer-horizontal-#{$key} { width: $val; }
}
