.page-layout .logo {
  margin: 16px 24px 16px 0;
  float: left;
}

.layout {
  .sider {
    .logo {
      margin: 16px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      img {
        width: 50px;
        height: 40px;
      }
    }
  }
  .header {
    background: #fff;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 25px;
    .trigger {
      font-size: 18px;
      line-height: 64px;
      cursor: pointer;
      transition: color .3s;
    }
    .trigger:hover {
      color: #108ee9;
    }
    a {
      text-decoration: none;
    }
  }
}

.layout-main {}

.layout-main__content {}
