.combinations {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  span {
    cursor: pointer;
  }
}

.comb {
  height: auto;
  // padding: 8px  24px 8px 8px;
  padding: 0 8px;
  height: 40px;
  margin: 2px 2px;
  background-color: #95a5a6;
  color: white;
  border-radius: 4px;
  font-family: monospace;
  user-select: none;

  &.all {
    cursor: pointer;
    padding-right: 10px;
    background-color: rgba(255, 51, 0, .7);
    color: white;
  }

  > span {
    flex: 1;
  }

  i {
    transition: color .2s linear;
    font-size: 18px;
    padding: 2px 4px;
  }

  .red:hover {
    color: #d63031;
  }
  .green:hover {
    color: #27ae60;
  }
}

.page-words {
  input[type=text] {
    padding: 0 10px;
    height: 45px;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
  }
}
