.form {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -160px 0 0 -160px;
  width: 320px;
  height: 320px;
  padding: 36px;
  box-shadow: 0 0 100px rgba(0, 0, 0, .08);
  button {
    width: 100%;
  }
  p {
    color: rgb(204, 204, 204);
    text-align: center;
    margin-top: 16px;
    span {
      &:first-child {
        margin-right: 16px;
      }
    }
  }
}

.logo {
  text-align: center;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  margin-bottom: 24px;
  img {
    width: 40px;
  }
  span {
    vertical-align: text-bottom;
    font-size: 16px;
    text-transform: uppercase;
    display: inline-block;
  }
}

.ant-spin-container,
.ant-spin-nested-loading {
  height: 100%;
}
