.page-define {
  .row {
    align-items: center;
  }

  b {
    font-weight: bold;
  }

  .ant-spin {
    line-height: 1;
  }

  .results {
    padding: 10px 20px;
    background-color: #DDD;
    color: #333;
  }
}
